body {
    background: aliceblue;
}

.articles {
    img {
        height: 200px;
    }

    .view-button {
        margin-top: -20px;
        position: absolute;
        right: 25px;
    }

    .edit-button {
        margin-top: -20px;
        position: absolute;
        right: 5px;
    }
}