body {
    background: aliceblue;
}

.articles {
    img {
        height: 200px;
    }

    .view-button {
        margin-top: -20px;
        position: absolute;
        right: 25px;
    }

    .edit-button {
        margin-top: -20px;
        position: absolute;
        right: 5px;
    }
}

.dataTable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid  #009688;

    th {
        border: 1px solid #FFF;
        background-color: #009688;
        color: #FFF;
        padding: 1em;
    }

    tr {
        border-bottom: solid 1px #DDD;
    }

    td {
        border-right: solid 1px #DDD;
    }
}