<% extend('../layout') %>

<div class="row articles">
    <div class="col s8 offset-s2">
        <h1><%= title %></h1>
        <form action="/articles/<%= article.id %>" method="post">
            <input type="hidden" name="_method" value="put"/>
            <div class="input-field col s12">
                <input name="title" type="text" class="validate" value="<%= article.title %>">
                <label for="first_name">Title</label>
            </div>

            <div class="input-field col s12">
                <textarea name="body" class="materialize-textarea"><%= article.body %></textarea>
                <label for="textarea1">Content</label>
            </div>
            <button class="waves-effect waves-light btn" type="submit">Save</button>
            <a class="btn white black" href="/articles">Back</a>
        </form>
    </div>
</div>
