<% extend('../layout') %>

<div class="row articles">
    <div class="col s8 offset-s2">
        <h1><%= title %></h1>
        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title"><%= article.title %></span>
            </div>
            <div class="card-content">
                <p><%= article.body %></p>
                <br>
                <p class="pull-right">建立時間：<%= moment(article.createdAt).format('YYYY/MM/DD hh:mm:ss') %></p>
                <br>
            </div>
        </div>
        <a class="btn white black" href="/articles">Back</a>
    </div>
</div>